
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Error 404 | Page not found</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
<body>

        <!-- Header -->

        {{!-- Viene de views/headers.hbs --}}
        {{> headers}}
        
        <h4>Error 404 | Page not found</h4>
        <a href="/"> Volver </a>
        <hr>
		<!-- Nav -->
			
        {{!-- Viene de views/navbar.hbs --}}
        {{> navbar}}

		<!-- Banner -->

        {{> footer}}

</body>
</html>